.div_border{
    border: 1px solid black;
    padding: 2% 5%;
}
.right{
    float: right;
}
.button_div{
    text-align: center;
}
/*#epic_button{
    width: 50%;
    height: 25%;
}
#reset_button{
    background-color: red;
}*/

.users p{
    /*color: #c0ffd7;*/
    color: #12863c;
}
