body{
    background-color: #81d4fa;
     overflow-y: scroll;
}
nav{
    background-color: #0288d1 !important;

}
body .container .row{
    margin: 0px auto !important;
}
body #chat_form{
    background-color: #eceff1;
}

.users, .chat{
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;;

    border: .5em solid aliceblue;
    border-style: double;
    padding: 1em;
}
.users p{
    color: #01579b;
    margin: 0%;
}
.btn{
    background-color: #0288d1 !important;
}

.chat_room, .user_list{
    padding: .2em;
    margin: 1em 0em;
}

.chat_room{
    border-left: .2em solid aliceblue;
}
.active{
    color: #0288d1 !important;
}
#chat_form{
    padding: 2em;
}
.new_user_added{
    font-style: bold;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
