/*.div_border{
    border: 1px solid black;
    padding: 2% 5%;
}
.right{
    float: right;
}
.button_div{
    text-align: center;
}
.users p{

    color: #12863c;

}

p{
    margin-bottom: 0%;
}

.chat_room, .user_lists{
    padding: .5em;
}

.chat{
    height:15em;
    overflow:scroll;
    overflow-x:hidden;
}
.users{
    height:5em;
    overflow:scroll;
    overflow-x:hidden;
}*/


body{
    background-color: #81d4fa;
     overflow-y: scroll;
}
nav{
    background-color: #0288d1 !important;

}
body .container .row{
    margin: 0px auto !important;
}
body #chat_form{
    background-color: #eceff1;
}

.users, .chat{
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;;

    border: .5em solid aliceblue;
    border-style: double;
    padding: 1em;
}
.users p{
    color: #01579b;
    margin: 0%;
}
.btn{
    background-color: #0288d1 !important;
}

.chat_room, .user_list{
    padding: .2em;
    margin: 1em 0em;
}

.chat_room{
    border-left: .2em solid aliceblue;
}
.active{
    color: #0288d1 !important;
}
#chat_form{
    padding: 2em;
}
.new_user_added{
    font-style: italic;
}
